.vs
packages

backEnd/Malwee.Services/obj
backEnd/Malwee.Services/bin

backEnd/Malwee.Repositories/obj
backEnd/Malwee.Repositories/bin

backEnd/Malwee.Domain/obj
backEnd/Malwee.Domain/bin

backEnd/Malwee.Api/obj
backEnd/Malwee.Api/bin








